POSTGRES_HOST=host
POSTGRES_PORT=port
POSTGRES_DB=banco
POSTGRES_USER=seu_usuario
POSTGRES_PASSWORD=sua_senha
POSTGRES_SCHEMA=doutorado
POSTGRES_SOURCE_TABLE=datamart_trechos
POSTGRES_SOURCE_TEXT_COLUMN=texto

OLLAMA_BASE_URL=http://localhost:11435
OLLAMA_MODEL=llama3.2:1b
OLLAMA_TIMEOUT=120

AGE_GRAPH_NAME=doutorado_extrator_grafos_graph
PGVECTOR_TABLE=kg_chunks
PGVECTOR_DIM=1536
CHUNK_LIMIT=100
